<nav class="navbar bg-body-tertiary w-100 m-auto">
    <form class="container-fluid">
      <div class="input-group">
        <span class="btn btn-outline-success" id="basic-addon1"
          >Search</span
        >
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon1"
        />
      </div>
    </form>
  </nav>