<div
class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
style="width: 280px"
>
<a
  href="/"
  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
>

  <span class="fs-3 ms-3">Admin</span>
</a>
<hr />
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="#" class="nav-link" aria-current="page">
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#home" />
      </svg>
      Home
    </a>
  </li>

  <li>
    <a href="#" class="nav-link link-body-emphasis">
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#table" />
      </svg>
      Orders
      <!-- contain at all products user demaind it  -->
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-body-emphasis active">
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#grid" />
      </svg>
      Products<!-- collect all product && button-add-section && button-add-product && view && edit && delete-product or delete-section-->
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-body-emphasis">
      <svg class="bi pe-none me-2" width="16" height="16">
        <use xlink:href="#people-circle" />
      </svg>
      Customers<!-- contain all data about customers -->
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-body-emphasis">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-file-text"
        viewBox="0 0 16 16"
      >
        <path
          d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z"
        />
        <path
          d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"
        />
      </svg>
      Reports<!-- contain all operations it finished during day or week or month -->
    </a>
  </li>
</ul>
<hr />
<div class="dropdown">
  <a
    href="#"
    class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="../images/User_Avatar.png"
      alt=""
      width="32"
      height="32"
      class="rounded-circle me-2"
    />
    <strong>Ahmed</strong>
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li><a class="dropdown-item" href="#">New project...</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>
</div>
</div>