<div class="toggle-menu">
  <i class="bi bi-list"></i>
</div>
<div class="sidebar">
  <div class="menu">
      <h2>Admin Panel</h2>
      <a href="/admin/dashboard"><i class="bi bi-house-door"></i><span> Dashboard</span></a>
      <a href="/admin/products"><i class="bi bi-box"></i><span> Manage Products</span></a>
      <a href="/admin/orders"><i class="bi bi-cart"></i><span> Orders</span></a>
      <a href="/admin/customers"><i class="bi bi-person"></i><span> Customers</span></a>
      <a href="/admin/analytics"><i class="bi bi-graph-up"></i><span> Analytics</span></a>
      <a href="/admin/settings"><i class="bi bi-gear"></i><span> Settings</span></a>
  </div>
  <div style="margin-bottom: 30px;">
      <div class="admin-info">
          <a href="/admin/admininfo"><i class="bi bi-person-circle"></i><span> Admin Info</span></a>
      </div>
      <div class="logout">
          <a href="#logout"><i class="bi bi-box-arrow-right"></i><span> Logout</span></a>
      </div>
  </div>
</div>
<div class="content">
  <!-- Content for each section will be displayed here -->
</div>

<button class="theme-toggle">
  <i class="bi bi-moon"></i>
</button>
